# Override the global @cloudflare registry redirect back to public npm
@cloudflare:registry=https://registry.npmjs.org

# Allow native build scripts
only-built-dependencies[]=esbuild
only-built-dependencies[]=workerd
only-built-dependencies[]=sharp
